<head>
    <style>
        .container {
            padding-left: 13%;
            padding-right: 5%;
            margin-left: 28%;
            margin-right: 28%;
            justify-content: center;
            width: auto;
            align-items: center;
        }
    </style>
</head>
<% if(success && success.length) { %>

    <div class=" container mt-5 alert alert-success alert-dismissible fade show  " class='mt-5 justify-content-center' role="alert">
        <%= success %>

    </div>
    <% } %>
        <% if(error && error.length) { %>

            <div class="container mt-5   alert alert-danger alert-dismissible fade show" role="alert">
                <%= error %>

            </div>
            <% } %>