<nav class="navbar">
    <div style=" font-family: 'Black Ops One', cursive;font-family: 'Zen Dots', cursive;" class="brand-title">YD</div>
    <a href="#" class="toggle-button">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </a>
    <div class="navbar-links ">
        <div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/secret">secrecy</a></li>


                <% if (!currentuser) {%>

                    <li><a href="/register">register</a></li>
                    <li><a href="/login">login</a></li>
                    <%}else{%>

                        <li><a href="/logout">logout</a></li>
                        <% }%>
            </ul>
        </div>



    </div>
</nav>



<!-- <nav class="navbar  navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" data-toggle="collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
                <a class="nav-link" href="/secret">secracy</a>

            </div>

            <div class="navbar-nav ml-auto">
                <% if (!currentuser) {%>
                    <a class="nav-link" href="/register">Register</a>
                    <a class="nav-link" href="/login">login</a>
                    <%}else{%>

                        <a class="nav-link" href="/logout">logout</a>
                        <% }%>

            </div>
        </div>

    </div>



            const toggleButton = document.getElementsByClassName('toggle-button')[0]
            const navbarLinks = document.getElementsByClassName('navbar-links')[0]

            toggleButton.addEventListener('click', () => {
                navbarLinks.classList.toggle('active')
            });

</nav> -->