<nav class="navbar">
    <div style=" font-family: 'Black Ops One', cursive;font-family: 'Zen Dots', cursive;" class="brand-title">YD</div>
    <a href="#" class="toggle-button">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </a>
    <div class="navbar-links ">
        <div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/secret">secrecy</a></li>


                <% if (!currentuser) {%>

                    <li><a href="/register">register</a></li>
                    <li><a href="/login">login</a></li>
                    <%}else{%>

                        <li><a href="/logout">logout</a></li>
                        <% }%>
            </ul>
        </div>



    </div>
</nav>