<div class="container-fluid " style="max-width: 800px;">


    <img style="height: 80vh;width: 100%;" src="https://images.pexels.com/photos/399161/pexels-photo-399161.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
    <img style="height: 80vh;width: 100%; " src="https://images.pexels.com/photos/401107/pexels-photo-401107.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
    <img style="height: 80vh;width: 100%; " src="https://images.pexels.com/photos/1557183/pexels-photo-1557183.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
</div>